.desktop-content {
    display: block;
}

.mobile-content {
    display: none;
}

@media only screen and (max-width: 768px) {
    /* Styles for tablets and smaller screens */
    .desktop-content {
        display: none;
    }
    .mobile-content {
        display: block;
    }
}

/* Media queries for smaller mobile screens */
@media only screen and (max-width: 480px) {
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    / header {
        padding: 10px;
    }

    .head-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav {
        /* Show navigation menu */
        display: flex;
        align-items: center;
        flex-wrap: wrap; /* wraps to next line */
    }

    nav ul {
        list-style-type: none; /* Remove bullet points */
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap; /* -//- */
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li a {
        padding: 5px 10px;
        font-size: 0.9rem;
        text-decoration: none;
        color: black;
    }
}
