body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container p {
    text-align: center;
    margin-bottom: 20px;
}

.form-container hr {
    border: 0.5px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.container.signin {
    text-align: center;
}

.container.signin p {
    margin: 0;
}

.container.signin a {
    color: #4caf50;
}

.container.signin a:hover {
    color: #45a049;
}
